.cont__SVGTOP {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.cont__SVGTOP svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.cont__SVGTOP .shape-fill {
    fill: rgba(59, 59, 59, 0.127);
}


.cont__container{
    color: white;
    background-color: rgba(59, 59, 59, 0.189);
    text-align: center;
}

.cont__container h1{

    font-size: 45px;

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
        animation: background-pan 3s linear infinite;
        letter-spacing: 0px;
        background: linear-gradient(
            to right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.474),
            rgba(255, 255, 255, 0.753),
            rgb(255, 255, 255)

        );

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.175)22);

        -webkit-background-clip: text;
        background-clip:text;
        -webkit-text-fill-color: transparent;
        background-size: 200%;
        margin-bottom: 40px;


}


.cont__paragraph{
    margin-top: 10px;
    margin-bottom: 70px;

}




.cont__SVGBTM {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.cont__SVGBTM svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.cont__SVGBTM .shape-fill {
    fill: rgba(59, 59, 59, 0.127);
}